<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener Project</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <p>
          Hello everyone. In this project you can enter a url in the form below and by sumbitting it, you will receive its shorter version in a json format.<br/>
          Next, if you enter in the url of your browser /api/shorturl/theShortUrl, where theShortUrl will be equal to the number you received when you submited your original link, you will be redirected to the original website you submited.
        </p>
        <p>
          <span>!Important Note!</span> You don't need to enter 'http://' or 'https://' in your url otherwise it will throw you an error. Just www.yoururl......
        </p>
        
        
        
        
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.com">
          <input type="submit" value="Submit URL" id="submitButton">
        </form>
        
        
        
      </div>
     <footer>
       <p>
          by <a href="https://codepen.io/AndrewAS" target="_blank">Andrew Siachos</a>
       </p>
       <div id="image">
         <a href="https://github.com/andrewsiachos" target="_blank"><img src="https://avatars3.githubusercontent.com/u/33431923?s=460&v=4.jpg" alt="image" width="150" height="150"/></a>
       </div>
       
       <div id="social">
         
         <div>
           <a href="https://twitter.com/andrew_siachos" target="_blank" ><img src="http://wordsworth-editions.com/img/twitter.png" alt="twitter icon" class="socImg"/></a>
         </div>
         <div>
           <a href="https://www.facebook.com/andrew.siaxos" target="_blank"><img src="http://wordsworth-editions.com/img/facebook.png" alt="facebook icon" class="socImg"/></a>
         </div>
           
         
       </div>
     </footer>
   </body>


</html>
